In [608]:
import pandas as pd
import numpy as np

In [609]:
df = pd.read_csv(r"C:\Users\deven\Desktop\Project - IPL Prediction\Dataset\IPL.csv")

C:\Users\deven\AppData\Local\Temp\ipykernel_12964\3960381485.py:1: DtypeWarning: Columns (28,29,30,31,43,46,47,48,51) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(r"C:\Users\deven\Desktop\Project - IPL Prediction\Dataset\IPL.csv")

In [610]:
id_mapping = {original: i+1 for i, original in enumerate(df['match_id'].unique())}

df['match_id'] = df['match_id'].map(id_mapping)

In [611]:
df["match_id"].unique()

array([   1,    2,    3, ..., 1167, 1168, 1169], shape=(1169,))

In [612]:
df[df['match_id'] == 335982 ]

Empty DataFrame
Columns: [Unnamed: 0, match_id, date, match_type, event_name, innings, batting_team, bowling_team, over, ball, ball_no, batter, bat_pos, runs_batter, balls_faced, bowler, valid_ball, runs_extras, runs_total, runs_bowler, runs_not_boundary, extra_type, non_striker, non_striker_pos, wicket_kind, player_out, fielders, runs_target, review_batter, team_reviewed, review_decision, umpire, umpires_call, player_of_match, match_won_by, win_outcome, toss_winner, toss_decision, venue, city, day, month, year, season, gender, team_type, superover_winner, result_type, method, balls_per_over, overs, event_match_no, stage, match_number, team_runs, team_balls, team_wicket, new_batter, batter_runs, batter_balls, bowler_wicket, batting_partners, next_batter, striker_out]
Index: []

[0 rows x 64 columns]

In [613]:
df.columns

Index(['Unnamed: 0', 'match_id', 'date', 'match_type', 'event_name', 'innings',
       'batting_team', 'bowling_team', 'over', 'ball', 'ball_no', 'batter',
       'bat_pos', 'runs_batter', 'balls_faced', 'bowler', 'valid_ball',
       'runs_extras', 'runs_total', 'runs_bowler', 'runs_not_boundary',
       'extra_type', 'non_striker', 'non_striker_pos', 'wicket_kind',
       'player_out', 'fielders', 'runs_target', 'review_batter',
       'team_reviewed', 'review_decision', 'umpire', 'umpires_call',
       'player_of_match', 'match_won_by', 'win_outcome', 'toss_winner',
       'toss_decision', 'venue', 'city', 'day', 'month', 'year', 'season',
       'gender', 'team_type', 'superover_winner', 'result_type', 'method',
       'balls_per_over', 'overs', 'event_match_no', 'stage', 'match_number',
       'team_runs', 'team_balls', 'team_wicket', 'new_batter', 'batter_runs',
       'batter_balls', 'bowler_wicket', 'batting_partners', 'next_batter',
       'striker_out'],
      dtype='object')

In [614]:
total_score_df = df.groupby(['match_id', 'innings'])['runs_total'].sum().reset_index()
total_score_df = total_score_df[total_score_df['innings'] == 1]
total_score_df['runs_total'] = total_score_df['runs_total'] + 1

In [615]:
match_detail = df[['match_id','city','date','batting_team','bowling_team','toss_winner',"toss_decision","match_won_by","result_type"]]

In [616]:
unique_matches_df = match_detail.drop_duplicates(subset=['match_id'])

In [617]:
unique_matches_df

,match_id,city,date,batting_team,bowling_team,toss_winner,toss_decision,match_won_by,result_type
0,1,Bangalore,2008-04-18,Kolkata Knight Riders,Royal Challengers Bangalore,Royal Challengers Bangalore,field,Kolkata Knight Riders,NaN
225,2,Chandigarh,2008-04-19,Chennai Super Kings,Kings XI Punjab,Chennai Super Kings,bat,Chennai Super Kings,NaN
473,3,Delhi,2008-04-19,Rajasthan Royals,Delhi Daredevils,Rajasthan Royals,bat,Delhi Daredevils,NaN
692,4,Mumbai,2008-04-20,Mumbai Indians,Royal Challengers Bangalore,Mumbai Indians,bat,Royal Challengers Bangalore,NaN
938,5,Kolkata,2008-04-20,Deccan Chargers,Kolkata Knight Riders,Deccan Chargers,bat,Kolkata Knight Riders,NaN
...,...,...,...,...,...,...,...,...,...
277070,1165,Lucknow,2025-05-27,Lucknow Super Giants,Royal Challengers Bengaluru,Royal Challengers Bengaluru,field,Royal Challengers Bengaluru,NaN
277314,1166,New Chandigarh,2025-05-29,Punjab Kings,Royal Challengers Bengaluru,Royal Challengers Bengaluru,field,Royal Challengers Bengaluru,NaN
277461,1167,New Chandigarh,2025-05-30,Mumbai Indians,Gujarat Titans,Mumbai Indians,bat,Mumbai Indians,NaN
277709,1168,Ahmedabad,2025-06-01,Mumbai Indians,Punjab Kings,Punjab Kings,field,Punjab Kings,NaN
277953,1169,Ahmedabad,2025-06-03,Royal Challengers Bengaluru,Punjab Kings,Punjab Kings,field,Royal Challengers Bengaluru,NaN

In [618]:
match_df = unique_matches_df.merge(total_score_df[["match_id","runs_total"]],on="match_id")

In [619]:
match_df["batting_team"].unique()

array(['Kolkata Knight Riders', 'Chennai Super Kings', 'Rajasthan Royals',
       'Mumbai Indians', 'Deccan Chargers', 'Kings XI Punjab',
       'Royal Challengers Bangalore', 'Delhi Daredevils',
       'Kochi Tuskers Kerala', 'Pune Warriors', 'Sunrisers Hyderabad',
       'Rising Pune Supergiants', 'Gujarat Lions',
       'Rising Pune Supergiant', 'Delhi Capitals', 'Punjab Kings',
       'Lucknow Super Giants', 'Gujarat Titans',
       'Royal Challengers Bengaluru'], dtype=object)

In [620]:
teams = [
    'Mumbai Indians',
    'Chennai Super Kings',
    'Kolkata Knight Riders',   
  'Royal Challengers Bengaluru',
    'Rajasthan Royals',
    'Delhi Capitals',
    'Sunrisers Hyderabad',
    'Kings XI Punjab',
    'Lucknow Super Giants',
    'Gujarat Titans'
]

In [621]:
match_df["batting_team"] = match_df["batting_team"].str.replace('Delhi Daredevils','Delhi Capitals') 
match_df["bowling_team"] = match_df["bowling_team"].str.replace('Delhi Daredevils','Delhi Capitals')
match_df["toss_winner"] = match_df["toss_winner"].str.replace('Delhi Daredevils','Delhi Capitals')
match_df["match_won_by"] = match_df["match_won_by"].str.replace('Delhi Daredevils','Delhi Capitals')

match_df["batting_team"] = match_df["batting_team"].str.replace('Deccan Chargers','Sunrisers Hyderabad') 
match_df["bowling_team"] = match_df["bowling_team"].str.replace('Deccan Chargers','Sunrisers Hyderabad')
match_df["toss_winner"] = match_df["toss_winner"].str.replace('Deccan Chargers','Sunrisers Hyderabad')
match_df["match_won_by"] = match_df["match_won_by"].str.replace('Deccan Chargers','Sunrisers Hyderabad')


match_df["batting_team"] = match_df["batting_team"].str.replace('Royal Challengers Bangalore',  'Royal Challengers Bengaluru') 
match_df["bowling_team"] = match_df["bowling_team"].str.replace('Royal Challengers Bangalore',  'Royal Challengers Bengaluru')
match_df["toss_winner"] = match_df["toss_winner"].str.replace('Royal Challengers Bangalore',  'Royal Challengers Bengaluru')
match_df["match_won_by"] = match_df["match_won_by"].str.replace('Royal Challengers Bangalore',  'Royal Challengers Bengaluru')

match_df["batting_team"] = match_df["batting_team"].str.replace('Punjab Kings','Kings XI Punjab') 
match_df["bowling_team"] = match_df["bowling_team"].str.replace('Punjab Kings','Kings XI Punjab')
match_df["toss_winner"] = match_df["toss_winner"].str.replace('Punjab Kings','Kings XI Punjab')
match_df["match_won_by"] = match_df["match_won_by"].str.replace('Punjab Kings','Kings XI Punjab')

In [622]:
match_df=match_df[match_df["batting_team"].isin(teams)]
match_df=match_df[match_df["bowling_team"].isin(teams)]

In [623]:
match_df[match_df["result_type"] == "no result"]["date"]

485     2015-04-29
511     2015-05-17
744     2019-04-30
994     2023-05-03
1138    2025-04-26
1149    2025-05-05
1152    2025-05-08
Name: date, dtype: object

In [624]:
match_df = match_df[match_df["result_type"] != "no result"]

In [625]:
match_df.columns

Index(['match_id', 'city', 'date', 'batting_team', 'bowling_team',
       'toss_winner', 'toss_decision', 'match_won_by', 'result_type',
       'runs_total'],
      dtype='object')

In [626]:
# 1. Get the count of nulls per column
missing_series = df.isnull().sum()

# 2. Filter for counts > 0 and grab the index (the column names)
missing_cols = missing_series[missing_series > 0].index.tolist()

print(missing_cols)
# Using the list of names to drop specific columns
df.drop(columns=missing_cols, inplace=True)

['extra_type', 'wicket_kind', 'player_out', 'fielders', 'runs_target', 'review_batter', 'team_reviewed', 'review_decision', 'umpire', 'win_outcome', 'superover_winner', 'result_type', 'method', 'new_batter', 'next_batter']

In [627]:
df.columns

Index(['Unnamed: 0', 'match_id', 'date', 'match_type', 'event_name', 'innings',
       'batting_team', 'bowling_team', 'over', 'ball', 'ball_no', 'batter',
       'bat_pos', 'runs_batter', 'balls_faced', 'bowler', 'valid_ball',
       'runs_extras', 'runs_total', 'runs_bowler', 'runs_not_boundary',
       'non_striker', 'non_striker_pos', 'umpires_call', 'player_of_match',
       'match_won_by', 'toss_winner', 'toss_decision', 'venue', 'city', 'day',
       'month', 'year', 'season', 'gender', 'team_type', 'balls_per_over',
       'overs', 'event_match_no', 'stage', 'match_number', 'team_runs',
       'team_balls', 'team_wicket', 'batter_runs', 'batter_balls',
       'bowler_wicket', 'batting_partners', 'striker_out'],
      dtype='object')

In [628]:
df = df.drop(columns=['city', 'date', 'batting_team', 'bowling_team',
       'toss_winner', 'toss_decision', 'match_won_by'])

In [629]:
df.columns

Index(['Unnamed: 0', 'match_id', 'match_type', 'event_name', 'innings', 'over',
       'ball', 'ball_no', 'batter', 'bat_pos', 'runs_batter', 'balls_faced',
       'bowler', 'valid_ball', 'runs_extras', 'runs_total', 'runs_bowler',
       'runs_not_boundary', 'non_striker', 'non_striker_pos', 'umpires_call',
       'player_of_match', 'venue', 'day', 'month', 'year', 'season', 'gender',
       'team_type', 'balls_per_over', 'overs', 'event_match_no', 'stage',
       'match_number', 'team_runs', 'team_balls', 'team_wicket', 'batter_runs',
       'batter_balls', 'bowler_wicket', 'batting_partners', 'striker_out'],
      dtype='object')

In [630]:
match_detail = match_df[['match_id', 'city', 'date', 'batting_team', 'bowling_team',
       'toss_winner', 'toss_decision', 'match_won_by','runs_total']]

In [631]:
delivary_df = match_df.merge(df,on="match_id")

In [632]:
delivary_df = delivary_df[delivary_df["innings"] == 2]

In [633]:
delivary_df["current_score"] = delivary_df.groupby("match_id")["runs_total_y"].cumsum()

In [634]:
delivary_df["runs_left"] = delivary_df["runs_total_x"] - delivary_df["current_score"]

In [635]:
delivary_df["balls_left"] = 126 - ((delivary_df["over"]+1)*6 + delivary_df["ball"])

In [636]:
delivary_df["wickets"] = 10 - delivary_df["team_wicket"]

In [637]:
# current run rate = runs / overs
delivary_df["curr_run_rate"]= (delivary_df["current_score"]*6 / (120-delivary_df["balls_left"])).round(2)

In [638]:
# required run rate
# If left_balls > 0, calculate RRR. Else, set it to 0.0
delivary_df["req_run_rate"] = np.where(
    delivary_df["balls_left"] > 0, 
    (delivary_df["runs_left"] * 6 / delivary_df["balls_left"]), 
    0
).round(2)

In [639]:
# create the result for match if 1 ==> win batting team and 0 ==> loose match batting team 
def result(row):
    return 1 if row["batting_team"] == row["match_won_by"] else 0

In [640]:
delivary_df["result"] = delivary_df.apply(result,axis = 1)

In [641]:
delivary_df.columns

Index(['match_id', 'city', 'date', 'batting_team', 'bowling_team',
       'toss_winner', 'toss_decision', 'match_won_by', 'result_type',
       'runs_total_x', 'Unnamed: 0', 'match_type', 'event_name', 'innings',
       'over', 'ball', 'ball_no', 'batter', 'bat_pos', 'runs_batter',
       'balls_faced', 'bowler', 'valid_ball', 'runs_extras', 'runs_total_y',
       'runs_bowler', 'runs_not_boundary', 'non_striker', 'non_striker_pos',
       'umpires_call', 'player_of_match', 'venue', 'day', 'month', 'year',
       'season', 'gender', 'team_type', 'balls_per_over', 'overs',
       'event_match_no', 'stage', 'match_number', 'team_runs', 'team_balls',
       'team_wicket', 'batter_runs', 'batter_balls', 'bowler_wicket',
       'batting_partners', 'striker_out', 'current_score', 'runs_left',
       'balls_left', 'wickets', 'curr_run_rate', 'req_run_rate', 'result'],
      dtype='object')

In [642]:
final_df = delivary_df[['batting_team', 'bowling_team','city',"runs_left","balls_left","wickets","runs_total_x","curr_run_rate","req_run_rate","result"]]
final_df.shape

(120933, 10)

In [643]:
# Suffle the dataset
final_df = final_df.sample(final_df.shape[0])

In [644]:
final_df.isnull().sum()

batting_team     0
bowling_team     0
city             0
runs_left        0
balls_left       0
wickets          0
runs_total_x     0
curr_run_rate    0
req_run_rate     0
result           0
dtype: int64

In [645]:
x = final_df.drop(columns=["result"])
y = final_df["result"] 
# train test split
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size= 0.20, random_state=42)

In [646]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import StandardScaler
trf = ColumnTransformer([
    ('trf1', OneHotEncoder(sparse_output=False,drop="first"),["batting_team","bowling_team","city"]),
    # ('trf2',StandardScaler(),['runs_left', 'left_balls', 'current_run_rate', 'req_run_rate'])
     ],
    remainder="passthrough")

In [647]:
from sklearn.linear_model import LogisticRegression
from sklearn.pipeline import Pipeline

pipe = Pipeline(steps=[
    ('step1', trf),
    ('step2', LogisticRegression(solver='liblinear'))
])

In [648]:
pipe.fit(x_train, y_train)
y_pred= pipe.predict(x_test)

In [649]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test,y_pred)

0.8001819159052384

In [652]:
import pickle

# The match_progression function logic for Win Probability Analysis
def match_progression(x_df, match_id, pipe):
    # Filter data for the specific match
    match = x_df[x_df['match_id'] == match_id]
    
    # We only care about the state at the end of each over (ball 6)
    match = match[(match['ball'] == 6)]
    
    # Select relevant features and drop missing values
    temp_df = match[[
    'batting_team', 
    'bowling_team', 
    'city', 
    'runs_left', 
    'balls_left',  # aapke index mein yehi naam hai
    'wickets', 
    'runs_total_x', # target score
    'curr_run_rate', 
    'req_run_rate'
        ]].dropna()
    # Avoid division by zero or end-of-game states
    temp_df = temp_df[temp_df['balls_left'] != 0]
    
    # Predict probabilities using the trained pipeline
    result = pipe.predict_proba(temp_df)
    
    # Add Win/Loss percentages to the dataframe
    temp_df['lose'] = np.round(result.T[0] * 100, 1)
    temp_df['win'] = np.round(result.T[1] * 100, 1)
    
    # Track the over numbers
    temp_df['end_of_over'] = range(1, temp_df.shape[0] + 1)
    
    # Calculate Runs Scored and Wickets Lost in each specific over
    target = temp_df['runs_total_x'].values[0]
    runs = list(temp_df['runs_left'].values)
    new_runs = runs[:]
    runs.insert(0, target)
    temp_df['runs_after_over'] = np.array(runs)[:-1] - np.array(new_runs)
    
    wickets = list(temp_df['wickets'].values)
    new_wickets = wickets[:]
    new_wickets.insert(0, 10)
    wickets.append(0)
    w = np.array(wickets)
    nw = np.array(new_wickets)
    temp_df['wickets_in_over'] = (nw - w)[0:temp_df.shape[0]]
    
    print("Target -", target)
    
    # Return the clean progression table and the target score
    temp_df = temp_df[['end_of_over','runs_after_over','wickets_in_over','lose','win']]
    return temp_df, target

In [654]:
temp_df, target = match_progression(delivary_df,1,pipe)
temp_df

Target - 223

     end_of_over  runs_after_over  wickets_in_over  lose    win
130            1                4                0   8.3   91.7
136            2                5                1   5.0   95.0
143            3                3                1   2.6   97.4
149            4                4                0   2.3   97.7
155            5                8                1   1.5   98.5
161            6                2                1   0.7   99.3
169            7                7                0   0.7   99.3
175            8                5                1   0.4   99.6
183            9                5                2   0.1   99.9
190           10                8                0   0.1   99.9
196           11                5                0   0.1   99.9
202           12                3                1   0.0  100.0
209           13               11                0   0.0  100.0
215           14                7                1   0.0  100.0
222           15                4                0   0.0  100.0

In [659]:
final_df["city"].unique()

array(['Mohali', 'Durban', 'Mumbai', 'Delhi', 'Hyderabad', 'Bangalore',
       'Unknown', 'Kolkata', 'Abu Dhabi', 'New Chandigarh', 'Ahmedabad',
       'Visakhapatnam', 'Dharamsala', 'Pune', 'Chennai', 'Bengaluru',
       'East London', 'Jaipur', 'Cape Town', 'Navi Mumbai', 'Guwahati',
       'Centurion', 'Johannesburg', 'Chandigarh', 'Indore', 'Dubai',
       'Lucknow', 'Raipur', 'Cuttack', 'Sharjah', 'Bloemfontein',
       'Port Elizabeth', 'Ranchi', 'Kimberley', 'Nagpur'], dtype=object)

In [655]:
# --- EXPORT SECTION ---

# Exporting the trained pipeline (Logistic Regression model + Transformers)
# Note: Ensure 'pipe' variable is defined in your environment before running this.
try:
    pickle.dump(pipe, open('pipe.pkl', 'wb'))
    print("Model pipeline exported successfully.")
except NameError:
    print("Warning: 'pipe' not found. Please train your model first.")

Model pipeline exported successfully.